*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
section{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center; 
}
section>div{
    display: flex;
    padding: 50px;
    border: 3px solid black;
    background-color: azure;
    width:29%;
    text-align: center;
    justify-content: center;
}
section>div>form>h2{
    font-size: 20px;
    text-decoration: underline;
    margin: 10px;
    top: -80px;
}
.initial>label{
    font-size: 20px;
    margin-top: -20px;
}
.initial>input{
   padding: 10px;
   width: 110%;
   margin-left: -20px;
 
}
.initial>select{
    padding: 10px;
    width: 110%;
    margin-left: -20px;

}
.initial>select>option{
    font-size: 20px;
}
.initials>label>.paper{
    left: -50px;
}
.initials>label{
    padding:5px;
    font-size: 15px;
    font-weight: bold;

}
.gender>label{
    font-weight: bold;
    padding: 5px;
}
button{
    padding: 10px;
    width: 25%;
    font-size: 15px;
}
.row1{
    background-color: blue;
}
.row2{
    background-color: red;
}